body {
    padding: 0;
    margin: 0;
    
    position: relative;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    
    background-color: #eaeaea;
}

.visually-hidden {
    position: absolute;
    
    clip: rect(0 0 0 0);
    
    margin: -1px;
    
    width: 1px;
    height: 1px;
}

a {
    text-decoration: none;
}

.site-navigation,
.social-btn-list,
.sort-list {
    list-style: none;
}

/*стилизуем общие параметры шрифтов*/

.main-content,
.main-footer {
    background-color: #ffffff;
}

.reasons-header b,
.search-hotel,
.hashtag,
.content-header b,
.result-item h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.reasons-header p,
.search-header p {
    color: #333333;
}

/*центрируем текст*/

.reasons,
.search-header {
    text-align: center;
}

/*стили для placeholder*/

.search-hotel-form input[type="text"]::-webkit-input-placeholder {
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.search-hotel-form input[type="text"]::-moz-input-placeholder {
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.search-hotel-form input[type="text"]:-ms-input-placeholder {
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.form-price input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.form-price input[type="text"]::-moz-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.form-price input[type="text"]:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.form-price input[type="text"] {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

/*стили обертки для страниц*/

.container {
    margin: 0 auto;
    
    width: 1200px;
    
    background-color: #ffffff;
    
    -webkit-box-shadow: 
        4px 0 13px 0 #dbdbdb,
        -4px 0 13px 0 #dbdbdb;
    
            box-shadow: 
        4px 0 13px 0 #dbdbdb,
        -4px 0 13px 0 #dbdbdb;
}

/*подгоняем любой img под размеры родителя*/

img {
    height: auto;
    max-width: 100%;
}

/*стили шапки*/

.site-navigation,
.main-navigation {
    margin: 0;
    padding: 0;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    position: relative;
    
    min-height: 56px;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.site-navigation a {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.site-navigation a.current {
    color: #766357;
}

.site-navigation-item {
    padding-top: 14px;
    padding-bottom: 16px;
    
    min-width: 240px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.site-navigation-item a {
    display: inline-block;
    vertical-align: middle;
    
    width: 100%;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.site-navigation-item:nth-child(4n+2) {
    margin-right: 240px;
}

.site-navigation-item:nth-of-type(4n+1) a,
.site-navigation-item:nth-of-type(4n+2) a {
    text-align: left;
    
    padding-left: 72px;
}

.site-navigation-item:nth-of-type(4n+3) a,
.site-navigation-item:nth-of-type(4n+4) a{
    text-align: right;
    
    padding-right: 72px;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    
    margin-left: -69px;
}

/*стили для main*/

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*общие параметры всех заголовков*/

.reasons h3 {
    font-size: 21px;
    font-weight: bold;
}

/*Параметры заголовка главной страницы*/

.welcome-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    padding-top: 76px;
    
    height: 509px;
    
    background-color: #d6e4ef;
    background-image: url("../img/background_photo_main.jpg");
    background-repeat: no-repeat;
    background-position: 50% 21%;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.welcome-header h1 {
    margin: 0;
    
    text-align: center;
}

.welcome-header::after {
    content: "";
    
    display: inline-block;
    vertical-align: bottom;
    
    height: 57px;
    width: 1200px;
    
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;
}

.reasons-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    padding-top: 59px;
    
    min-height: 215px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.reasons-header b,
.reasons-header p,
.reasons-header h2 {
    margin: 0 auto;
}

.reasons-header b {
    margin-bottom: 27px;
    
    width: 447px;
}

.reasons-header p {
    width: 493px;
    
    line-height: 26px;
}

/*стили section 1*/

.reasone-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    color: #ffffff;
    
    min-height: 256px;
    
    background-color: #81b3d2;
}

.reasone-item-1,
.reasone-item-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    margin: 0 auto;
    padding: 47px 45px 40px;
    
    width: 400px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.reasone-item-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.reasone-main h3,
.reasone-main span,
.reasone-main p {
    margin: 0;
    margin-bottom: 24px;
}

.reasone-main span {
    margin-bottom: 21px;
}

.reasone-item-1 h3 {
    max-width: 130px;
}

.reasone-item-2 h3 {
    width: 151px;
}

.reasone-item-1 p {
    margin-bottom: 0;
    
    width: 289px;
}

.reasone-item-2 p {
    margin-bottom: 0;
    
    width: 307px;
}

.reasone-photo-1,
.reasone-photo-2 {
    line-height: 0;
    
    height: 256px;
    width: 800px;
}

.reasone-photo-1 img,
.reasone-photo-2 img {
    height: 256px;
    width: 800px;
}

/*стили преимуществ*/

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    min-height: 330px;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    margin: 0 auto;
    padding: 56px 50px 40px;
    
    width: 400px;
    min-height: 330px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.features-item h3,
.features-item p {
    margin: 0 auto;
    padding: 0;
}

.features-item p {
    width: 290px;
}

.features-item:first-of-type p {
    width: 259px;
}

.features-item:nth-of-type(2) p {
    width: 290px;
}

.features-item:nth-of-type(3) p {
    width: 278px;
}

.features-item h3 {
    margin-bottom: 24px;
}

.features-item::before {
    content: "";
    
    display: inline-block;
    vertical-align: bottom;
    
    margin: 0 auto;
    margin-bottom: 29px;
    
    background-repeat: no-repeat;
    
    height: 76px;
}

.features-item:first-of-type::before {
    background-image: url("../img/icon_1.svg");
    background-position: bottom;
    
    width: 75px;
}

.features-item:nth-of-type(2)::before {
    background-image: url("../img/icon_3.svg");
    background-position: bottom;
    
    width: 74px;
}

.features-item:nth-of-type(3)::before {
    background-image: url("../img/icon_2.svg");
    
    width: 64px;
}

/*стили прочих причин*/

.reasone-another {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    min-height: 256px;
    
    background-color: #eeeeee;
}

.reasone-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    padding: 47px 50px 30px;
    
    min-height: 256px;
    width: 400px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.reasone-another h3,
.reasone-another span,
.reasone-another p {
    margin: 0 auto;
    padding: 0;
}

.reasone-item h3 {
    margin-bottom: 24px;
    
    width: 125px;
}

.reasone-item span {
    margin-bottom: 21px;
}

.reasone-item p {
    width: 300px;
}

.reasone-item:first-of-type p {
    width: 219px;
}

.reasone-item:nth-of-type(2) p {
    width: 269px;
}

.reasone-item:nth-of-type(3) p {
    width: 252px;
}

/*стили  для section поиска*/

.search-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    
    padding-top: 50px;
}

.search-header b,
.search-header p,
.search-header a {
    margin: 0 auto;
    padding: 0;
}

.search-header b {
    font-size: 30px; 
    line-height: 36px;
    font-weight: bold;
    
    margin-bottom: 24px;
}

.search-header p {
    line-height: 24px;
    
    margin-bottom: 47px;
    
    width: 440px;
}

.search-header a.search-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    min-height: 86px;
    width: 568px;
    
    color: #ffffff;
    vertical-align: middle;
    
    background-color: #766357;
}

a.search-hotel:hover {
    background-color: #604e43;
}

a.search-hotel:active {
    color: #928a85;
    
    background-color: #503e33;
}

.map iframe {
    height: 593px;
    width: 1200px;
}

.map {
    height: 593px;
    width: 1200px;
    
    background-image: url("../img/map.jpg");
    background-position: top;
}

.search {
    position: relative;
}

/*стили формы поиска гостиницы*/

.search-hotel-form {
    position: absolute;
    top: 291px;
    left: 316px;
    
    padding: 55px;
    
    height: 395px;
    width: 568px;
    
    background-color: #ffffff;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
    
    -webkit-animation-name: close-form;
    
            animation-name: close-form;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform-origin: top;
            transform-origin: top;
}

.search-header {
    position: relative;
}

.form-show {
    display: block;
    
    -webkit-animation-name: open-form;
    
            animation-name: open-form;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform-origin: top;
            transform-origin: top;
}

.modal-error {
    -webkit-animation-name: flashing;
            animation-name: flashing;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

@-webkit-keyframes open-form {
    from {-webkit-transform: scaleY(0);transform: scaleY(0);}
    to {-webkit-transform: scaleY(1);transform: scaleY(1);}
}

@keyframes open-form {
    from {-webkit-transform: scaleY(0);transform: scaleY(0);}
    to {-webkit-transform: scaleY(1);transform: scaleY(1);}
}

@-webkit-keyframes close-form {
    from {-webkit-transform: scaleY(1);transform: scaleY(1);}
    to {-webkit-transform: scaleY(0);transform: scaleY(0);}
}

@keyframes close-form {
    from {-webkit-transform: scaleY(1);transform: scaleY(1);}
    to {-webkit-transform: scaleY(0);transform: scaleY(0);}
}

@-webkit-keyframes flashing {
    0% {background-color: #dfdddd;}
    20% {background-color: #f2f2f2;}
    40% {background-color: #dfdddd;}
    60% {background-color: #f2f2f2;}
    80% {background-color: #dfdddd;}
    100% {background-color: #f2f2f2;}
}

@keyframes flashing {
    0% {background-color: #dfdddd;}
    20% {background-color: #f2f2f2;}
    40% {background-color: #dfdddd;}
    60% {background-color: #f2f2f2;}
    80% {background-color: #dfdddd;}
    100% {background-color: #f2f2f2;}
}

.search-hotel-form input {
    border: none;
    
    background-color: #f2f2f2;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.search-hotel-form input:hover {
    background-color: #ebebeb;
}

.search-hotel-form input:focus {
    background-color: #ffffff;
}

.search-hotel-form label {
    line-height: 26px;
    font-weight: bold;
}

.flight-date,
.half-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    width: 458px;
}

.flight-date {
    position: relative;
    
    margin-bottom: 27px;
}

.calendar-icon {
    position: absolute;
    top: 9px;
    right: 9px;
}

.calendar-icon:hover {
    cursor: pointer;
}

.calendar-icon:hover path {
    fill: #000000;
}

.calendar-icon:active path {
    fill: #81b3d2;
}

.flight-date label,
.half-width:first-child label {
    min-width: 112px;
}

.half-width:last-child label {
    min-width: 65px;
}

.half-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    
    position: relative;
}

.half-width button {
    padding: 0;
    
    border: none;
    
    min-width: 21px;
    height: 21px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    
    cursor: pointer;
}

.count-up {
    background-image: url("../img/plus-btn.png");
    
    position: absolute;
    top: 9px;
    right: 9px;
}

.count-up:hover {
    background-image: url("../img/plus-btn-hover.png");
}

.count-up:active {
    background-image: url("../img/plus-btn-active.png");
}

.count-down {
    background-image: url("../img/minus-btn.png");
    
    position: absolute;
    top: 9px;
    left: 120px;
}

.count-down:hover {
    background-image: url("../img/minus-btn-hover.png");
}

.count-down:active {
    background-image: url("../img/minus-btn-active.png");
}

.half-width:last-child .count-down {
    left: 74px;
}

.half-field {
    margin-bottom: 53px;
}

.search-hotel-form input[name="arrival-date"], 
.search-hotel-form input[name="departure-date"] {
    padding: 0;
    padding: 12px;
    padding-right: 0;
    
    width: 346px;
}

.search-hotel-form input[name="children"],
.search-hotel-form input[name="adults"] {
    text-align: center;
    
    padding: 0;
    padding: 12px 0;
    
    width: 114px;
}

.search-hotel-form input[type="submit"] {
    font: inherit;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    
    border: none;
    
    display: block;
    
    padding: 0;

    height: 58px;
    width: 100%;
    
    background-color: #81b3d2;
}

.search-hotel-form input[type="submit"]:hover {
    background-color: #669ec0;
}

.search-hotel-form input[type="submit"]:active {
    background-color: #5496bd;
}

/*стили футера*/

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    min-height: 120px;
    width: 1200px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.footer-opacity {
    position: absolute;
    
    margin-top: -126px;
    
    opacity: 0.9;
}

.hashtag-wrap,
.social-btn-list,
.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    padding: 0;
    margin: 0;
    
    min-height: 120px;
    width: 400px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.hashtag-wrap {
    padding: 46px 0;
}

.social-btn-list {
    padding: 36px 0;
}

.footer-copyright {
    padding: 39px 0;
}

.social-btn-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    margin-right: 6px;
    margin-bottom: 6px;
    
    height: 48px;
    width: 46px;
    
    background-color: #81b3d2;
}

.social-btn-list li:last-child {
    margin-right: 0;
}

a.social-btn {
    height: 48px;
    width: 46px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: #81b3d2;
}

a.social-btn:hover {
    background-color: #669ec0;
}

a.social-btn:active {
    background-color: #5496bd;
}

.social-btn-tw {
    background-image: url("../img/twitter.svg");
}

.social-btn-fb {
    background-image: url("../img/fb_icon.svg");
}

.social-btn-ytb {
    background-image: url("../img/youtube.svg");
}

.footer-copyright a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    line-height: 26px;
    color: #000000;
    
    height: 41px;
    min-width: 197px;
}

.footer-copyright span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.footer-copyright svg:hover path {
    fill: #81b3d2;
}

.footer-copyright svg:active path {
    fill: #bdbbbc;
}

/*стили формы-фильтра*/

.form-field {
    color: #ffffff;
    
    background-color: #60676d;
    background-image: url("../img/filter-background.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.form-field h3 {
    font-size: 16px;
    font-weight: bold;
}

.form-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    padding: 27px 72px 31px;
    
    min-height: 217px;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.form-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    border: none;
    
    margin: 0;
    padding: 0;
}

.form-list h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.form-features {
    margin-right: 119px;
}

.form-hotels {
    margin-right: auto;
}

.form-price {
    margin-left: auto;
    
    width: 319px;
}

.form-list:not(:last-child) label {
    position: relative;
    
    padding-left: 40px;
    margin-bottom: 25px;
}

.form-list:not(:last-child) label:last-of-type {
    margin-bottom: 0;
}

.form-list:not(:last-child) label::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: -1px;
    
    height: 23px;
    width: 27px;
    
    background-image: url("../img/checkbox_off.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.form-list:not(:last-child) input:checked + label::before {
    background-image: url("../img/checkbox_on.svg");
}

.form-list input[type="checkbox"]:disabled + label::before {
    background-image: url("../img/checkbox-disabled.png");
}

.form-list input[type="checkbox"]:focus + label::before {
    outline-color: #4d90fe;
    outline-style: solid;
    outline-width: 2px;
}

.form-price input[type="submit"] {
    font: inherit;
    
    text-transform: uppercase;
    color: #ffffff;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    
    display: block;
    
    padding: 0;
    margin: 0 auto;
    margin-left: 86px;

    height: 36px;
    width: 137px;
    
    background-color: transparent; 
    
    -webkit-box-sizing: border-box; 
    
            box-sizing: border-box;
}

.form-filter input[type="submit"]:hover {
    color: #000000;
    
    background-color: #ffffff;
    
    cursor: pointer;
}

.form-price h3 {
    margin-bottom: 9px;
}

.price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    position: relative;
    
    margin-bottom: 19px;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    
    height: 38px;
    width: 100%;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.price-controls label {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    width: 50%;
}

.form-list label:hover {
    cursor: pointer;
}

.price-controls label:first-of-type {
    padding-left: 65px;
}

.price-controls label:last-of-type {
    padding-left: 55px;
}

.price-controls input {
    padding: 0;
    margin: 0 auto;
    
    width: 35px;
    
    border: none;
    
    background-color: transparent; 
}

.price-controls::after {
    content: "";
    
    position: absolute;
    top: 18%;
    left: 50%;
    
    height: 22px;
    width: 2px;
    
    background-color: #ffffff;
}

.range-controls {
    position: relative;
    
    margin-bottom: 32px;
}

.scale {
    margin-left: 3px;
    
    height: 2px;
    width: 315px;
    
    background-color: #8f8181;
}

.bar {
    height: 2px;
    width: 85%;
    
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    
    height: 4px;
    width: 4px;
    
    background-color: #ababab;
    
    border: 8px solid #ffffff;
    border-radius: 50%;
    
    -webkit-box-shadow: 0 2px 1px 0 #4d5351;
    
            box-shadow: 0 2px 1px 0 #4d5351;
}

.range-toggle-min {
    top: -9px;
    left: 2px;
}

.range-toggle-max {
    top: -9px;
    right: 45px;
}

.range-toggle:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    
    cursor: pointer;
}

/*стили навигации*/

.content-header b,
.content-header p,
.content-header .sort-list,
.content-header .sort-direction {
    margin: 0;
    padding: 0;
}

.content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    
    margin: 0 auto;
    padding: 30px 72px 0;
    
    min-height: 87px;
    
    border-bottom: 1px solid #e5e5e5;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.content-header b {
    margin-right: 47px;
}

.content-header p {
    margin-right: auto;
}

.center-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    min-width: 778px;
}

.content-header p,
.sort-list a {
    font-size: 12px;
    line-height: 18px;
}

.sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    width: 680px;
}

.sort-list a {
    color: #cacaca;
    
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active {
    color: #231f20;
    
    border-bottom: none;
}

.sort-item {
    margin-right: 33px;
    margin-bottom: 30px;
}

.sort-item:last-child {
    margin-right: 0;
}

.sort-item:first-child a {
    color: #81b3d2;
    
    border-bottom: none;
}

.sort-direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: center;
    
    line-height: 0;
    font-size: 0;
    
    height: 20px;
    min-width: 35px;
}

.sort-direction a {
    height: 10px;
    width: 11px;
}

.sort-down {
    color: #81b3d2;
}

.sort-up {
    color: #cacaca;
}

.sort-down:hover,
.sort-up:hover {
    color: #231f20;
    
    cursor: pointer;
}

.sort-up:active {
    color: #81b3d2;
}

.sort-direction svg:hover path {
    fill: #231f20;
}

.sort-direction svg:active path {
    fill: #81b3d2;
}

.sort-down path {
    fill: #81b3d2;
}

/*стили результатов поиска*/

.result-item h3,
.result-item p,
.result-item a {
    margin: 0;
    padding: 0;
}

.result-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    
    padding: 0 72px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    min-height: 150px;
    
    border-bottom: 1px solid #e5e5e5;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.result-item h3 {
    margin-top: -5px;
    margin-bottom: 7px;
    
    width: 360px;
}

.hotel-picture {
    margin-right: 30px;
    
    height: 90px;
    width: 135px;
}

.hotel-picture img {
    height: 90px;
    width: 135px;
}

.result-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    margin-right: auto;
    
    min-height: 90px;
}

.hotel-name {
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.hotel-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    width: 258px;
}

.hotel-info div:not(:last-child) {
    margin-right: 6px;
}

.hotel-details,
.price-reserve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    min-height: 62px;
}

.raiting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    
    margin-left: auto;
    
    height: 90px;
}

.raiting-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.raiting-stars span {
    background-image: url("../img/star.svg");
    
    margin-left: 6px;
    
    height: 17px;
    width: 18px;
}

.raiting-stars span:first-child {
    margin-left: 0;
}

.raiting-numeral {
    color: #666666;
    
    background-color: #f2f2f2;
}

.hotel-details a,
.price-reserve a,
.raiting .raiting-numeral {
    text-align: center;
    line-height: 1;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
}

.raiting .raiting-numeral {
    padding: 6px 13px 7px 14px; 
}

.hotel-details p,
.price-reserve p {
    color: #333333;
}

.hotel-details a,
.price-reserve a {
    font-weight: bold;
    
    color: #ffffff;
}

.hotel-details a {
    padding: 7px 16px 7px 15px;
    
    min-width: 110px;
    
    background-color: #81b3d2;
}

.price-reserve a {
    padding: 7px 17px 7px 16px;
    
    min-width: 142px;
    
    background-color: #766357;
}

.hotel-details a:hover {
    background-color: #669ec0;
}

.hotel-details a:active {
    color: #94b9d2;
    
    background-color: #5496bd;
}

.price-reserve a:hover {
    background-color: #604e43;
}

.price-reserve a:active {
    color: #928a85;
    
    background-color: #503e33;
}








