body {
    padding: 0;
    margin: 0;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    
    background-color: #ffffff;
}

/*Параметры заголовка главной страницы*/
.welcome-header {
    height: 509px;
    
    background-color: #d6e4ef;
    background-image: url("../img/background_photo_main.jpg");
    background-repeat: no-repeat;
    background-position: 50% 21%;
}

.visually-hidden {
    position: absolute;
    
    clip: rect(0 0 0 0);
    
    width: 1px;
    height: 1px;
    
    margin: -1px;
}

a {
    text-decoration: none;
}

/*стили текста ссылок гл. навигации*/
.site-navigation a {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    word-spacing: 3px;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

/*цвет ссылки текущей страницы*/
.site-navigation a.current {
    color: #766357;
}

/*сброс стиля списка*/
.site-navigation,
.social-btn-list,
.sort-list {
    list-style: none;
}

/*стилизуем общие параметры шрифтов*/
.main-content,
.main-footer {
    background-color: #ffffff;
}

.reasons-header b,
.search-hotel,
.hashtag,
.content-header b,
.result-item h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.reasons-header p,
.search-header p {
    color: #333333;
}

.reasons-header p {
    line-height: 26px;
}

.search-header p {
    line-height: 24px;
}

.search-header b {
    font-size: 30px; 
    line-height: 36px;
    font-weight: bold;
}

/*стили кнопки поиска гл. страницы*/
.search-hotel {
    color: #ffffff;
    vertical-align: middle;
    
    background-color: #766357;
}

.search-hotel:hover {
    background-color: #604e43;
}

.search-hotel:active {
    color: #928a85;
    
    background-color: #503e33;
}

/*стиль блоков причин №1 и №2*/
.reasone-main {
    color: #ffffff;
}

/*центрируем текст*/
.reasons,
.search-header {
    text-align: center;
}

/*общие параметры всех заголовков*/
.reasons h3 {
    font-size: 21px;
    font-weight: bold;
}

.footer-copyright a {
    line-height: 26px;
    color: #000000;
}

/*стили формы гл. старинцы*/
.search label {
    line-height: 26px;
    font-weight: bold;
}

input[type="text"]::-webkit-input-placeholder {
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

input[type="number"]::-webkit-input-placeholder {
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

input[type="text"]::-moz-input-placeholder {
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

input[type="number"]::-moz-input-placeholder {
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}
/*fieldset стоимость в сутки*/
.form-price input[type="text"]::-webkit-input-placeholder {
    font-weight: normal;
    color: #ffffff;
}

.form-price input[type="text"]::-moz-input-placeholder {
    font-weight: normal;
    color: #ffffff;
}

.search input {
    background-color: #f2f2f2;
}

.search input:hover {
    background-color: #ebebeb;
}

.search input:focus {
    background-color: #ffffff;
}

/*стили кнопки отправки формы*/
input[type="submit"]:hover {
    background-color: #669ec0;
}

input[type="submit"]:active {
    background-color: #5496bd;
}

input[type="submit"] {
    font: inherit;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    
    background-color: #81b3d2;
    
    border: none;
}

/*стили ссылок на соц сети*/
a.social-btn {
    background-color: #81b3d2;
}

a.social-btn:hover {
    background-color: #669ec0;
}

a.social-btn:active {
    background-color: #5496bd;
}

/*стили для ссылки логотипа в футере*/
.footer-copyright svg:hover path {
    fill: #81b3d2;
}

.footer-copyright svg:active path {
    fill: #bdbbbc;
}

/*стиль формы на второй странице*/
.form-field {
    color: #ffffff;
    
    background-color: #60676d;
    background-image: url("../img/filter-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.form-field h3 {
    font-size: 16px;
    font-weight: bold;
}

input[value="Показать"] {
    font: inherit;
    
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    
    background-color: rgba(93, 78, 75, 0); 
    
    border: 2px solid #ffffff;
} 

input[value="Показать"]:hover {
    color: #000000;
    
    background-color: #ffffff;
}

.form-price input[type="text"] {
    text-align: center;
    
    background-color: rgba(93, 78, 75, 0); 
    
    border: 2px solid #ffffff;
}

.content-header p,
.sort-list a {
    font-size: 12px;
    line-height: 18px;
}

.sort-list a {
    color: #cacaca;
    
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active {
    color: #231f20;
    
    border-bottom: none;
}

.sort-item:first-child a {
    color: #81b3d2;
    
    border-bottom: none;
}

.sort-down {
    color: #81b3d2;
}

.sort-up {
    color: #cacaca;
}

.sort-down:hover,
.sort-up:hover {
    color: #231f20;
}

.sort-up:active {
    color: #81b3d2;
}

.hotel-name {
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.hotel-details p,
.price-reserve p {
    color: #333333;
}

.hotel-details a,
.price-reserve a {
    font-weight: bold;
    vertical-align: middle;
    
    color: #ffffff;
}

.hotel-details a {
    background-color: #81b3d2;
}

.price-reserve a {
    background-color: #766357;
}

.hotel-details a:hover {
    background-color: #669ec0;
}

.hotel-details a:active {
    background-color: #5496bd;
}

.price-reserve a:hover {
    background-color: #604e43;
}

.price-reserve a:active {
    background-color: #503e33;
}

.raiting-numeral {
    color: #666666;
}

/*======================================*/
/*=================СЕТКИ================*/
/*======================================*/

body {
    background-color: #eaeaea;
}

.container {
    margin: 0 auto;
    
    width: 1200px;
    
    background-color: #ffffff;
/*    background-color: yellow;*/
}

.site-navigation,
.main-navigation {
    margin: 0;
    padding: 0;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    min-height: 56px;
}

.site-navigation {
    display: flex;
    align-items: center;
    
    width: 100%;
    min-height: 56px;
    
    margin: 0 auto;
}

.site-navigation li {
    align-self: center;
    
    padding: 0 73px;
}

.main-header-logo {
    position: absolute;
    
    align-self: center;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation li:nth-child(3) {
    padding-right: 90px;
    margin-left: auto;
}

/*============================================*/
.main-content {
    display: flex;
    flex-direction: column;
}
.welcome-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome-header h1 {
    margin: 0 auto;
    margin-top: 76px;
}

.welcome-header::after {
    content: "";
    
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;

    width: 1200px;
    height: 57px;
}

/*============================================*/
.reasons-header {
    display: flex;
    flex-direction: column;
    
    min-height: 216px;
}

.reasons-header b,
.reasons-header p,
.reasons-header h2 {
    margin: 0 auto;
}

.reasons-header b {
    width: 447px;
    
    margin-top: 59px;
    margin-bottom: 27px;
}

.reasons-header p {
    width: 493px;
}

/*===========================================*/
.reasone-main {
    display: flex;
    
    min-height: 256px;
    
    background-color: #81b3d2;
}

.reasone-item-1,
.reasone-item-2 {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    margin-top: 46px;
}

.reasone-item-2 {
    order: 1;
}

.reasone-main h3,
.reasone-main span,
.reasone-main p {
    margin: 0 auto;
    margin-bottom: 24px;
}

.reasone-main span {
    margin-bottom: 21px;
}


.reasone-item-1 h3 {
    width: 130px;
}

.reasone-item-2 h3 {
    width: 151px;
}

.reasone-item-1 p {
    width: 289px;
    
    margin-bottom: 0;
}

.reasone-item-2 p {
    width: 307px;
    
    margin-bottom: 0;
}

.reasone-photo-1,
.reasone-photo-2 {
    line-height: 0;
    
    min-height: 256px;
}

/*===========================================*/
.features {
    display: flex;
    
    min-height: 330px;
}

.features-item {
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    
    min-width: 400px;
    min-height: 331px;
    
    margin: 0 auto;
}

.features-item h3,
.features-item p {
    margin: 0 auto;
    padding: 0;
}

.features-item:first-of-type p {
    width: 259px;
}

.features-item:nth-of-type(2) p {
    width: 290px;
}

.features-item:nth-of-type(3) p {
    width: 278px;
}

.features-item h3 {
    margin-bottom: 25px;
}

.features-item::before {
    content: "";
    
    background-repeat: no-repeat;
    
    height: 76px;
    
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 28px;
}

.features-item:first-of-type::before {
    background-image: url("../img/icon_1.svg");
    background-position: bottom;
    
    width: 75px;
    
}

.features-item:nth-of-type(2)::before {
    background-image: url("../img/icon_3.svg");
    background-position: bottom;
    
    width: 74px;
}

.features-item:nth-of-type(3)::before {
    background-image: url("../img/icon_2.svg");
    
    width: 64px;
}

/*============================================*/
.reasone-another {
    display: flex;
    
    background-color: #eeeeee;
}

.reasone-item {
    display: flex;
    flex-direction: column;
    
    min-height: 256px;
    min-width: 400px;
    
    margin: 0 auto;
}

.reasone-another h3,
.reasone-another span,
.reasone-another p {
    margin: 0 auto;
    padding: 0;
}

.reasone-item h3 {
    margin-top: 50px;
    margin-bottom: 24px;
    
    width: 125px;
}

.reasone-item span {
    margin-bottom: 21px;
}

.reasone-item:first-of-type p {
    width: 219px;
}

.reasone-item:nth-of-type(2) p {
    width: 269px;
}

.reasone-item:nth-of-type(3) p {
    width: 252px;
}

/*============================================*/
.search-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    min-height: 291px;
}
.search-header b,
.search-header p,
.search-header a {
    margin: 0 auto;
    padding: 0;
}

.search-header b {
    margin-bottom: 24px;
}

.search-header p {
    margin-bottom: 47px;
    
    width: 440px;
}

.search-header a.search-hotel {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 86px;
    width: 568px;
}

.search iframe {
    height: 475px;
    width: 1200px;
}

/*========================================*/
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    min-height: 120px;
    width: 967px;
    
    margin: 0 auto;
}

.footer-copyright a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    min-width: 198px;
}

.social-btn-list {
    display: flex;
    justify-content: space-between;
    
    min-width: 150px;
}

.social-btn-list li {
    display: flex;
    
    height: 48px;
    width: 46px;
    
    background-color: #81b3d2;
}

a.social-btn {
    height: 48px;
    width: 46px;

    background-repeat: no-repeat;
    background-position: center;
}

.social-btn-tw {
    background-image: url("../img/twitter.svg");
}

.social-btn-fb {
    background-image: url("../img/fb_icon.svg");
}

.social-btn-ytb {
    background-image: url("../img/youtube.svg");
}

/*=========================================*/
/*=========================================*/
/*===========СЕТКА ВТОРОЙ СТРАНИЦЫ=========*/
/*=========================================*/

.hotels-container {
    width: 1056px;
    
    margin: 0 auto;
}

.form-field form {
    display: flex;
    
    min-height: 217px;
}

.form-field h3 {
    margin: 0;
    padding: 0;
}

.form-field fieldset {
    display: flex;
    flex-direction: column;
    
    border: none;
    
    margin: 0;
    padding: 0;
}

/*========================================*/
.content-header b,
.content-header p,
.content-header .sort-list,
.content-header .sort-direction {
/*    margin: 0;*/
    padding: 0;
}

.content-header b {
    margin-right: 48px;
}

.content-header p {
    margin-right: 40px;
}



.content-header {
    display: flex;
    align-items: center;

    
    min-height: 86px;
    
    margin: 0 auto;
}

.center-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    width: 100%;
}

.sort-list {
    display: flex;
    justify-content: space-between;
    
    min-width: 240px;
    
    margin-right: auto;
}

.sort-direction {
    display: flex;
    justify-content: space-between;
    
    margin-left: auto;
    
    width: 35px;
    height: 10px;
}

.sort-direction a {
    width: 11px;
    height: 10px;
}

.sort-direction svg:hover path {
    fill: #231f20;
}

.sort-direction svg:active path {
    fill: #81b3d2;
}

.sort-down path {
    fill: #81b3d2;
}

/*============================================*/
.result-item h3,
.result-item p,
.result-item a {
    margin: 0;
    padding: 0;
}

.result-item {
    display: flex;
    align-items: center;
    
    min-height: 151px;
}

.result-item img {
    margin-right: 30px;
}

.result-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-right: auto;
    
    min-height: 90px;
}

.hotel-info {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: -1px;
    
    min-width: 260px;
}

.result-item h3 {
    margin-top: -5px;
}

.hotel-details,
.price-reserve {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 59px;
}

.hotel-details {
    min-width: 112px;
    
    margin-right: 7px;
}

.price-reserve {
    min-width: 142px;
}

a.details {
    min-width: 112px;
}

a.reserve {
    min-width: 142px;
}

.hotel-info a {
    height: 27px;  
    
    text-align: center;
}

.raiting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
    margin-left: auto;
    
    min-height: 90px;
}

.result-item:first-child .raiting-stars {
    display: flex;
    justify-content: space-between;
    
    width: 91px;
}

.result-item:nth-child(2) .raiting-stars {
    display: flex;
    justify-content: space-between;
    
    width: 66px;
}

.result-item:nth-child(3) .raiting-stars {
    display: flex;
    justify-content: space-between;
    
    width: 42px;
}

.raiting-stars span {
    background-image: url("../img/star.svg");
    
    width: 18px;
    height: 17px;
}

.raiting-numeral {
    background-color: #f2f2f2;
    
    width: 111px;
    height: 29px;
    
    text-align: center;
    vertical-align: middle;
}







